<!DOCTYPE html>
<html lang="en">

 <head>
  <title>Register</title>
 </head>
  
 <body>
  
  <%- include('partials/_header') %>

  <main style="margin: 1em">

    <h3 style="margin-bottom: 1em">Create Account</h3>

  <form method="POST" action="/register">

    <label for="email" style="margin-right: 2.1em">Email</label>
    <input type="text" name="email"/>

    <br></br>

    <label for="password" style="margin-right: 0.2em">Password</label>
    <input type="password" name="password" />

    <br></br>
    
    <button type="submit" class="btn btn-primary">Register</button>

  </form>
</main>
</body>
</html>