<!DOCTYPE html>
<html lang="en">

 <head>
  <title>Register</title>
 </head>
 
 <body>

  <%- include('partials/_header') %>

  <main style="margin-top: 1em; text-align: center;">
   
      <h1 style=" margin-bottom: 1em;"> Welcome to the TinyApp!</h1>

      <h4>Convert any url, no matter how long and random, to a simple six-digit ID. Keep if for later or share it with your friends!</h4>
      <p>Please create an account and log in before proceeding.<p>

   </main>
</body>
</html>